/* 폰트 */
@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter/Inter-Black.ttf') format('truetype');

    font-family: 'JosefinSans-SemiBold';
    src: url('./fonts/JosefinSans/JosefinSans-SemiBold.ttf') format('truetype');

    font-family: 'NanumGothic-Regular';
    src: url('./fonts/Nanum_Gothic/NanumGothic-Regular.ttf') format('truetype');
}

/* 변수 */
:root {
    --black: #424242;
    --white: #FFFFFF;
    --blue: #3563E9;
    --red: #F23F3F;
    --lightgrey: #F5F6FB;
    --expiredgrey: #F0EEEE;
    --expiredgrey: #F0EEEE;
    --grey: #CECECE;
    --pink: #FEC2FF;
    --yellow: #FFF500;
    --lightgreen: #BAFB00;
    --bluegreen: #00FFFF;
    --green: #0FBE00;
    --orange: #FF8A00;
    --lightpink: #F6EEEE;
    --pink: #FEC2FF;
    --yellow: #FFF500;
    --lightgreen: #BAFB00;
    --bluegreen: #00FFFF;
    --green: #0FBE00;
    --orange: #FF8A00;
    --lightpink: #F6EEEE;

    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
}

/* 애니메이션 */
@keyframes fade-in-1 {
    from {
        opacity: 0.3;
    }
    50% {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-in-2 {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}

@keyframes fade-in-3 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    to {
        opacity: 0.5;
    }
}

/* 전역 */
html {font-family: 'Inter'; font-weight: var(--medium); color: var(--black); font-size: 16px;}
html::-webkit-scrollbar {display: none;}
p {margin: 0;}
a {text-decoration: none;}
a:link {color: var(--black);}
a:visited {color:var(--black);}
a:hover {color: var(--blue); font-weight: var(--bold);}
a:active {color: var(--blue); font-weight: var(--bold);}
div {overflow-y: overlay; overflow-x: hidden;}
div::-webkit-scrollbar {width: 30px;}
div::-webkit-scrollbar-thumb {background-clip: padding-box; background-color: var(--blue); border: 20px solid transparent; border-left: 0px; border-radius: 5px;}
div::-webkit-scrollbar-track {background-clip: padding-box; background-color: var(--expiredgrey); border: 20px solid transparent; border-left: 0px; border-radius: 5px;}
select {border-radius: 5px; border: 1px solid var(--grey);}

/* 그리드 */
.grid-1-3 {grid-column: 1/3;}
.grid-2-3 {grid-column: 2/3;}

/* 배경색상 */
.bg-white {background-color: var(--white);}
.bg-pink {background-color: var(--pink);}
.bg-yellow {background-color: var(--yellow);}
.bg-lightgreen {background-color: var(--lightgreen);}
.bg-bluegreen {background-color: var(--bluegreen);}

/* 마진 */
.margin-bottom-20 {margin-bottom: 20px;}

/* 크기 */
.w-100 {width: 100px;}
.w-140 {width: 140px;}
.w-185 {width: 185px;}
.w-250 {width: 250px;}
.h-30 {height: 30px;}
.h-35 {height: 35px;}
.h-45 {height: 45px;}
.f-g-1 {flex-grow: 1;}

/* 폰트 */
.semi-bold {font-weight: var(--semi-bold);}

/* 간격 */
.gap-5 {gap: 5px;}
.gap-10 {gap: 10px;}
.gap-15 {gap: 15px;}
.gap-20 {gap: 20px;}
.gap-h-20 {gap: 20px 0;}

/* 마진 */
.m-t-30 {margin-top: 30px;}
.m-b-30 {margin-bottom: 30px;}

/* 위치 */
.justify-wrap {display: flex; flex-wrap: wrap;}
.justify-column {display: flex; flex-direction: column;}
.justify-sub-left {display: flex; align-items: start;}
.justify-sub-center {display: flex; align-items: center;}
.justify-main-between {display: flex; justify-content: space-between;}
.justify-main-left {display: flex; justify-content: start;}
.justify-main-center {display: flex; justify-content: center;}

/* 버튼 */
button {border-radius: 5px; font-weight: var(--bold); letter-spacing: 0.5px; cursor: pointer;}
.header-btns {flex-grow: 1; display: flex; justify-content: right; gap: 20px;}
.btn-div {dispay:flex; gap: 10px;}
.btn-white-blue {background-color: var(--white); border: 1px solid var(--blue); color: var(--blue);}
.btn-white-blue:hover {background-color: var(--blue); border: 1px solid var(--blue); color: var(--white);}
.btn-white-grey {background-color: var(--white); border: 1px solid var(--grey); color: var(--blue);}
.btn-white-grey:hover {background-color: var(--blue); border: 1px solid var(--blue); color: var(--white);}
.btn-blue-blue {background-color: var(--blue); border: 1px solid var(--blue); color: var(--white);}
.btn-blue-blue:hover {background-color: var(--blue); border: 1px solid var(--blue); color: var(--white);}
.btn-black-black {background-color: var(--black); border: 1px solid var(--black); color: var(--white);}

/* 태그 */
.tag {padding: 0 20px; height: 30px; border-radius: 5px; display: flex; justify-content: center; align-items: center; font-weight: var(--semi-bold);}
.tag-pink {background-color: var(--pink); color: var(--black);}
.tag-yellow {background-color: var(--yellow); color: var(--black);}
.tag-lightgreen {background-color: var(--lightgreen); color: var(--black);}
.tag-bluegreen {background-color: var(--bluegreen); color: var(--black);}
.tag-red {background-color: var(--red); color: var(--white);}
.tag-orange {background-color: var(--orange); color: var(--white);}

/* 캘린더 */
.calendar-div {width: 100%; height: 550px; border-radius: 5px; border: 1px solid var(--grey);}
.calendar-div .date-header {display: flex; align-items: center; padding: 20px;}
.calendar-div .date-header .date-before {background-image: url('./imgs/calendar-before-arrow.png'); background-repeat: no-repeat; width: 20px; height: 20px; cursor: pointer; margin: 0 20px;}
.calendar-div .date-header .date-after {background-image: url('./imgs/calendar-after-arrow.png'); background-repeat: no-repeat; width: 20px; height: 20px; cursor: pointer; margin: 0 20px;}
.calendar-div .date-body {display: flex; flex-direction: column; padding: 0 20px;}
.calendar-div .date-body .week {display: flex; justify-content: space-between;}
.calendar-div .date-body .days {display: flex; justify-content: space-between;}
.calendar-div .date-body .week .week-item {display: flex; justify-content: center; width: 100px; margin-bottom: 30px;}
.calendar-div .date-body .week .week-item p{font-size: 16px; font-weight: var(--semi-bold);}
.calendar-div .date-body .week .week-item:nth-child(1) p {color: var(--red);}
.calendar-div .date-body .week .week-item:nth-last-child(1) p {color: var(--blue);}
.calendar-div .date-body .days .days-item {display: flex; flex-direction: column; align-items: center; width: 100px; margin-bottom: 20px;}
.calendar-div .date-body .days .days-item p{font-size: 14px; font-weight: var(--semi-bold);}
.calendar-div .date-body .days .days-item>picture {width: 18px; height: 18px; margin: 10px 0;}
.calendar-div .date-body .days .days-item>picture.done {background-image: url('./imgs/calendar-done.png'); background-repeat: no-repeat;}
.calendar-div .date-body .days .days-item>picture.undo {background-image: url('./imgs/calendar-undo.png'); background-repeat: no-repeat;}

/* 헤더 */
#header {display: flex; align-items: center; height: 100px; background-color: var(--white); grid-column: 1/3;}
#header .header-logo {flex-grow: 1;}
#header .header-logo>span {background-color: var(--white); font-size: 24px; font-family: 'JosefinSans-SemiBold'; letter-spacing: 3px;}
.header-nav {flex-grow: 3; justify-content: center;list-style-type: none; display: flex; gap: 60px;}
.header-nav li{width: 60px; text-align: center;}
.header-nav li.on>a {color: var(--blue); font-weight: var(--bold);}

/* 메인 */
#wrap {box-sizing: border-box; width: 90%; margin: 0 auto; display: grid; grid-template-columns: 350px minmax(auto, calc(100% - 370px)); column-gap: 20px;}
#main {justify-items: stretch; height: fit-content;}
.main-img {height: 550px; overflow: hidden; border-radius: 5px;}
.main-img>img {width: 100%;}
.img-text-div {display: flex; flex-direction: column; align-items: center; position: absolute; top: 65%; left: 50%; transform: translate(-50%, -50%);}
.img-main-text {margin-bottom: 32px; font-family: 'NanumGothic-Regular'; font-size: 36px; letter-spacing: 3px;}
.img-sub-text {font-family: 'NanumGothic-Regular'; font-size: 24px; letter-spacing: 3px; opacity: 0.4; cursor: pointer;}
.img-sub-text:hover {opacity: 1;}
.ico-animation1 {animation: fade-in-1 1s infinite; padding-top: 5px}
.ico-animation2 {animation: fade-in-2 1s infinite;}
.ico-animation3 {animation: fade-in-3 1s infinite; padding-bottom: 5px;}
.main-div {background-color: var(--lightgrey); padding: 40px;}
.sub-header {color: var(--blue);}
.card {background-color: var(--white); border: 1px solid var(--grey); border-radius: 5px; width: 240px; padding: 20px; margin-bottom: 10px; cursor: pointer;}
.card:hover {background-color: var(--blue); color: var(--white);}
.card>h3 {text-align: center; margin: 0;}
.card>div {margin-top: 20px; display: flex; align-items: center;}
.card>span {font-size: 16px;}
.card .card-sub-title {font-weight: var(--semi-bold); width: 50px;}
.card .card-sub-content {font-weight: var(--regular);}
.item-div {background-color: var(--white); border: 1px solid var(--grey); border-radius: 5px; padding: 20px; height: 390px;}
.item {background-color: var(--white); border: 1px solid var(--grey); border-radius: 5px; padding: 20px; cursor: pointer;}
.item:hover {background-color: var(--blue); color: var(--white);}
.item:nth-child(n+2) {margin-top: 20px;}
.item .progressing {color: var(--green);}
.item:hover .progressing {color: var(--bluegreen);}
.item .done {color: var(--blue);}
.item:hover .done {color: var(--bluegreen);}
.item .item-title {font-weight: var(--semi-bold);}
progress-div {font-weight: var(--regular);}
.expired {background-color: var(--expiredgrey);}
.note-div {background-color: var(--white); border: 1px solid var(--grey); border-radius: 5px; padding: 20px; height: 260px;}
.note-item {border: 1px solid var(--grey); border-radius: 5px; padding: 5px 10px; cursor: pointer; width: 115px;}
.note-item>picture {background-image: url("./imgs/note-black.png"); background-repeat: no-repeat; width: 25px; height: 25px;}
.note-item:hover {background-color: var(--blue);}
.note-item:hover>picture {background-image: url("./imgs/note-white.png");}
.note-item:hover>span {color: var(--white);}
.sub-div {padding: 20px; background-color: var(--white);}
.progress-div p {font-weight: var(--regular);}
.project-teammates {display: flex; gap: 10px; align-items: center; justify-content: start; border:1px solid var(--grey); border-radius: 5px; padding: 10px 15px; width: 245px; cursor: pointer;}
.project-teammates:hover {background-color: var(--blue); color: var(--white); border: 1px solid var(--blue);}
.project-teammates img {width: 70px; height: 70px;}

/* 왼사이드바 */
#left-bar {background-color: var(--lightgrey); border-radius: 5px; padding: 100px 20px 20px 20px; height: fit-content;}
.profile {width: 160px; height: 160px;}
.left-bar-div {padding: 20px; flex-direction: column; border-radius: 5px;}
.left-bar-div p  {font-size: 14px;}
.left-bar-div .left-bar-name {font-weight: var(--bold);font-size: 18px; margin: 15px 0;}
.left-bar-div .left-bar-email {font-weight: var(--semi-bold); font-size: 16px; margin-top: 15px;}